body {
background-image: url(https://avatars.mds.yandex.net/i?id=a7c9a6ddeb2a5f87038f533e7eb5eeac91660db7-12532507-images-thumbs&n=13);
background-repeat: no-repeat;
background-size: cover;
}


.center{
    text-align: center;
}
.rigth{
    text-align: right;
}


.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.left{
    text-align: left;
}

.column{
    width: 18.74%;
    display: inline-block;
    margin-right: 1%;
}

.image{
    width: 100%;
}
